<h1>投稿一覧</h1>
<% @favo_images.each do |favo_image| %>
  <div>
    <%= link_to favo_image_path(favo_image.id) do %>
      <%= image_tag favo_image.get_image(200,200) %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag favo_image.user.get_profile_image(100,100) %></p>
    <p>場所：<%= favo_image.location %></p>
    <p>説明：<%= favo_image.caption %></p>
    <p>ユーザーネーム：<%= favo_image.user.name %></p>
    <p><%= link_to "#{favo_image.favo_comments.count} コメント", favo_image_path(favo_image.id) %></p>
  </div>
<% end %>
<%= paginate @favo_images %>