<h1>投稿詳細画面</h1>
  <div>
    <%= image_tag @favo_image.get_image(200,200) %>
    <p>投稿ユーザー画像：<%=image_tag @favo_image.user.get_profile_image(100,100) %></p>
    <p>場所：<%= @favo_image.location %></p>
    <p>説明：<%= @favo_image.caption %></p>
    <p>ユーザーネーム：<%= @favo_image.user.name %></p>
    <p>投稿日：<%= @favo_image.created_at.strftime('%Y/%m/%d') %></p>
    <% if @favo_image.user_id == current_user.id %>
      <%= link_to "削除", favo_image_path(@favo_image.id), method: :delete %>
    <% end %>
  </div>