<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">ユーザー新規登録</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>メールアドレスと<br>パスワードを入力してください。</p>
        </div>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <%#= image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_profile_image.jpg", class:"mb-3" %>
          <div class="input-group my-3">
            <label>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像",accept: "image/*", class: "w-100" %>
            </label>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
              </div>
              <%= f.text_field :name,autofocus: true, class:"form-control", id:"inputName", placeholder:"ニックネーム" %>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-book"></i></span>
              </div>
              <%= f.text_area :introduction, autofocus: true, class:"form-control", id:"inputIntroduction", placeholder:"自己紹介【好きな場所を教えて下さい】 " %>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope"></i></span>
              </div>
              <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
              </div>
              <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード(6文字以上)" %>
          </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-hidden="true"><i class="fas fa-check-circle"></i></span>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputConfirmPassword", placeholder:"パスワード確認" %>
          </div>
          <%= f.submit "サインアップ", class:"btn btn-block btn-outline-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

