<div class="container">
  <div class="row mt-4">
    <div class="col-3 m-auto">
      <h2>プロフィール編集</h2>
      <%= form_with model: @user do |f| %>
        <div class = "mb-3">
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
        </div>
        <div class = "mb-3">
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %>
        </div>
        <div class = "mb-3">
        <%= f.text_area :introduction, placeholder: "自己紹介" %>
        </div>
        <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>
</div>
