<div class="cover-user-index">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">フォロワー一覧</h1>
    </div>
    <div class="row justify-content-center">
      <% @users.each do |user| %>
      <div class="one-post card w-25 mx-auto mt-4 shadow-lg">
        <%= link_to user_path(user) do %>
        <div class="d-flex">
          <%= image_tag user.get_profile_image(500,500), class: "card-img-top mt-3 rounded-circle" %>
        </div>
        <p class="caption h4"><%= user.name %></p>
        <p class="caption"><%= "#{user.favo_images.count} 投稿" %></p>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</div>